.hero {
  position: relative;
  background-color: #a7e0ff;
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2rem;
}

.title {
    text-align: center;
    position: relative;
    z-index: 1;
}

.title h1 {
    margin: 0;
    font-size: clamp(4rem, 20vw, 12rem);
    user-select: none; /* ✅ Prevent text selection when hovering */
}

.title h1 span {
    /* ✅ Add smooth transform on hover */
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s ease, -webkit-text-stroke 0.3s ease;
}

.backgroundCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}