.main {
    position: relative;
    width: 100vw;
    min-height: 200vh;
    background: var(--color-black-linear);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 10vw;
}

.title {
    width: 100%;
    max-width: 1200px;
    position: relative;
    text-align: center;
    margin-top: 20vh;
}

.title h2 {
    font-size: clamp(3rem, 6vw, 8rem);
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 0.05em;
    transform: scaleY(1.10);
    text-transform: uppercase;
    margin: 0;
    color: var(--color-white);
    opacity: 0; /* Will be animated */
}

/* Responsive */
@media (max-width: 900px) {
    .main {
        padding: 5vh 5vw;
        min-height:200vh;
    }

    .title h2 {
        font-size: clamp(2rem, 10vw, 5rem);
        letter-spacing: 0.02em;
        padding-top: 4em;
    }
}