/* Common section styles */
.section {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  position: relative;
  background-color: #a7e0ff;
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 2rem;
}

.title {
    text-align: center;
}

.title h1 {
    margin: 0;
    font-size: clamp(4rem, 20vw, 12rem);
}

.outro {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

.outro h1 {
  margin-bottom: 0;
}

/* Responsive */
@media (max-width: 900px) {
  .outro {
    padding: 1.5em;
  }

  .outro h1 {
    font-size: 2.5rem;
  }
}