/* Common section styles */
.section {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive */
@media (max-width: 900px) {
  .outro {
    padding: 1.5em;
  }

  .outro h1 {
    font-size: 2.5rem;
  }
}