.hero {
    height: 100vh;
}

.hero .img {
    width: 50%;
    aspect-ratio: 1;
}


.footer a{
    font-size:4vw;
}

.main {
    position: relative;
    width: 100vw;
    height: 150vh;
    background: linear-gradient(90deg, #0e1212 0%, #181e1e 100%);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
    overflow: visible;
}

.mainContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    position: relative;
    width: 100vw;
    margin: 1em 0;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.card {
    position: relative;
    width: 40%;
    height: 360px;
    border-radius: 0.75em;
    overflow: hidden;
    will-change: transform;
}


.logo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
}

.copy {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    position: relative;
    margin: 0.5em 0;
    width: max-content;
    height: 28px;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.line p {
    position: relative;
    font-size: 24px;
    color: var(--color-white);
    transform: translateY(30px);
}

.button {
    position: relative;
    padding: 1em 2em;
    font-size: 18px;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: 8em;
    background: none;
    outline: none;
    transform: translateY(30px);
    opacity: 0;
}

@media(max-width: 900px) {
    .card {
        width: 50%;
        height: 240px;
    }
}